node_modules/
package-lock.json
npm-debug.log*

.idea/
*.iml
.vscode/
.classpath
.project
.settings/

target/
*.jar
*.war
*.ear
*.class

*.log
logs/

test-output/
surefire-reports/
jacoco.exec

*.mv.db
*.trace.db

.DS_Store
.AppleDouble
._*

dist/
www/

*.log

.angular/cache/
.ionic/cache/

.vscode/
.idea/
