<ion-header>
    <ion-toolbar>
      <ion-title>Filter Candidates</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <form (ngSubmit)="filterCandidates()">
      <ion-item>
        <ion-label>Position Type</ion-label>
        <ion-select class="custom-select" [(ngModel)]="positionType" name="positionType">
          <ion-select-option *ngFor="let option of positionTypes" [value]="option.value">
            {{ option.label }}
          </ion-select-option>
        </ion-select>
      </ion-item>
  
      <ion-item>
        <ion-label>Military Status</ion-label>
        <ion-select class="custom-select" [(ngModel)]="militaryStatus" name="militaryStatus">
          <ion-select-option *ngFor="let option of militaryStatuses" [value]="option.value">
            {{ option.label }}
          </ion-select-option>
        </ion-select>
      </ion-item>
  
      <ion-item>
        <ion-label>Notice Period</ion-label>
        <ion-select class="custom-select" [(ngModel)]="noticePeriod" name="noticePeriod">
          <ion-select-option *ngFor="let option of noticePeriods" [value]="option.value">
            {{ option.label }}
          </ion-select-option>
        </ion-select>
      </ion-item>
  
      <ion-button expand="block" type="submit" color="primary">Search</ion-button>
    </form>
  
    <div *ngIf="error" class="status-message" [class.error]="true">
      <ion-card color="danger">
        <ion-card-content>{{ error }}</ion-card-content>
      </ion-card>
    </div>
  
    <ion-list>
      <ion-item *ngFor="let candidate of candidates; let i = index">
        <ion-label>
          <div class="candidate-name">
            <strong>{{ i + 1 }}.</strong> <strong>{{ candidate.firstName }}</strong> <strong>{{ candidate.lastName }}</strong>
          </div>
          <div class="candidate-details">
            <div>
              <strong>Position Type</strong>: <span>{{ candidate.positionType }}</span>
            </div>
            <div>
              <strong>Military Status</strong>: <span>{{ candidate.militaryStatus }}</span>
            </div>
            <div>
              <strong>Notice Period</strong>: <span>{{ candidate.noticePeriod }}</span>
            </div>
            <div>
              <strong>Phone</strong>: <span>{{ candidate.phone }}</span>
            </div>
            <div>
              <strong>E-Mail</strong>: <span>{{ candidate.email }}</span>
            </div>
          </div>
        </ion-label>
        <ion-button fill="outline" color="primary" *ngIf="candidate.cvPath" (click)="downloadResume(candidate.cvPath)">
          <ion-icon name="download-outline" slot="start"></ion-icon>
          Resume
        </ion-button>        
      </ion-item>
    </ion-list>
    

    <ion-button expand="block" (click)="navigateToHome()" color="tertiary" style="margin-top: 16px;">
      Go to Home
    </ion-button>
  </ion-content>
  