// Renk Değişkenleri
:root {
    --ion-color-primary: #3880ff; /* Ana renk */
    --ion-color-primary-rgb: 56, 128, 255;
    --ion-color-secondary: #3dc2ff; /* İkincil renk */
    --ion-color-secondary-rgb: 61, 194, 255;
    --ion-color-tertiary: #5260ff; /* Üçüncül renk */
    --ion-color-tertiary-rgb: 82, 96, 255;
  
    --ion-color-success: #2dd36f;
    --ion-color-success-rgb: 45, 211, 111;
    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-danger: #eb445a;
    --ion-color-danger-rgb: 235, 68, 90;
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 245, 248;
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 36, 40;
  }
  
  // Ionic için Yazı Tipi Ayarları
  :root {
    --ion-font-family: "Roboto", sans-serif; /* Varsayılan yazı tipi */
  }
  
  // Genel Arkaplan Renkleri
  :root {
    --ion-background-color: #ffffff;
    --ion-text-color: #000000;
  }
  
